@model IEnumerable<WebStore1.Models.MyPerson>

@{
    ViewBag.Title = "Employees";
}

<h2>Our Employees</h2>

@if (Request.IsAuthenticated)
{
    <p>Hello, @Session["auth"]. <a href="@Url.Action("SignOut", "Login")" role="button">Sign out</a></p>
}
else
{
    <p>You are guest, <a href="@Url.Action("Login", "Login")">Sign in</a></p>
}

<br />
<br />

<a class="btn btn-success" href="@Url.Action("AddPerson", "Default")" role="button">Add new person</a>
<br />
<br />

<table class="table">
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.FirstName</td>
        <td>@item.LastName</td>
        <td>@item.age</td>
        <td><a href="@Url.Action("CardPerson", "Default", new { x = @item.id })">Card</a></td>
        <td><a href="@Url.Action("EditPerson", "Default", new { id = @item.id })">Edit</a></td>
        <td><a href="@Url.Action("Delete", "Default", new { id = @item.id })">Delete</a></td>
    </tr>
    }
</table>
<hr />

<p>Sort by Last name</p>
<a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Default", new { x = 1 })" role="button">A->Z</a>
<a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Default", new { x = 2 })" role="button">Z->A</a>