@model WebStore1.Models.MyPerson

@{
    ViewBag.Title = "Card";
}

<h2>Card of person</h2>

<table class="table">
    <tr>
        <td>First name</td>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <td>Age</td>
        <td>@Model.age</td>
    </tr>
    <tr>
        <td>Position</td>
        <td>@Model.position</td>
    </tr>
    <tr>
        <td>Hobby</td>
        <td>@Model.hobbies</td>
    </tr>
</table>
<br />
<a href="\Default">Go back</a>

